
.listOfDevices {
  flex-direction: column;
  height: 99%;
  width: 89%;
}

.listMode {
  flex-direction: column;
  height: 70%;
  width: 70%;
  margin-top: 1vw;
}

.listOfDevices .itemOfDevice {
height: 1.8vw;
background: darkgray;
border-radius: 0.3vw;
margin-top: 0.05vw;
color: white;
flex-direction: row;
}

.itemMode {
  height: 1.8vw;
background: darkgray;
border-radius: 0.3vw;
margin-top: 0.1vw;
color: white;
flex-direction: row;
}

.listOfDevices .itemOfDevice:first-child {
background: none;
color: lightseagreen;

}

.listOfDevices .itemOfDevice:first-child .statusOfDevice .center {
flex: none;
}
.listOfDevices .itemOfDevice:first-child .statusOfDevice .center .icon-of-device {
background: none;
border: none;
color: seagreen;
}

.itemOfDevice .nameOfDevice {
flex: 4;
padding-left: 1vw;
align-items: center;
}

.itemMode .nameMode {
  flex: 7;
  padding-left: 1vw;
  align-items: center;
}

.itemOfDevice .statusOfDevice {
flex: 6;
justify-content: center;
}

.itemMode .statusMode {
  flex: 1;
  justify-content: center;
  color: black;
  font-weight: bold;
}

.itemOfDevice .statusOfDevice .front, .center, .rear {
flex: 0.12;
justify-content: space-around;
color: black;
}

.iconOfDevice {
  background: white;
  min-width: 1.1vw;
  height: 1.1vw;
  align-self: center;
  border-radius: 0.3vw; 
  align-items: center;
}

.iconOfDevice:focus {
  border-width: 0.4vw;
  border-radius: 0.5vw; 
  border: 0.3vw solid lightskyblue !important;
  outline: none;
}

.iconOfDeviceRectangle {
  background: white;
  min-width: 0.7vw;
  height: 1.1vw;
  align-self: center;
  border-radius: 0.3vw; 
}

.iconOfDeviceRectangle:focus {
  border-width: 0.4vw;
  border-radius: 0.5vw; 
  border: 0.3vw solid lightskyblue !important;
  outline: none;
}

.statusON {
  border: 0.15vw solid green;
  background: green;
}

.statusOFF {
  border: 0.1vw solid white;
  background: white;
  justify-content: center;
}

.statusWARNING {
  border: 0.15vw solid yellow;
  background: yellow;
}

.statusERROR {
  border: 0.15vw solid red;
  background: red;
}

.statusBLOCK {
  border: 0.15vw solid black;
  background: black;
}

.statusMALFUNCTION {
  border: 0.15vw solid orange;
  background: orange;
}

.statusDISAPPEAR {
  border: none;
  background: none;
}

.title {
  background: none;
  border: none;
  color: green;
}