.imageTrain {
  background-image: url('./images//train.svg');
  background-repeat: round;
  width: 98%;
  height: 21%;
  margin: 1vw 0;
}

.edge {
  flex: 0.75;
}
.cabin {
  flex: 0.25;
  justify-content: center;
}

.wagon {
  flex: 1;
  justify-content: space-evenly;
  flex-direction: column;
}

.top {
  justify-content: space-around;
}

.center {
  flex: 0.8;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.bottom {
  justify-content: space-around;
}