.Image {
  width: 95%;
  height: 93%;
  border: 5px solid #515757;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  font-size: 1vw;
}

.Header {
  color: white;
  flex-direction: row;
  justify-content: left;
  flex: 0.5;
  background: #646464;
}

.panelLeft {
  flex: 3;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.panelLeft div:first-child {
  flex: 1;
  justify-content: center;
}

.panelLeft div {
  flex: 2;
}

.panelRight {
  flex: 3;
  justify-content: flex-end;
  align-items: center;
}

.panelRight div {
  margin-right: 1vw;

}

.Article {
  flex-direction: column;
  flex: 7 1;
  align-items: center;
}

.Columns {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 5;
}

.TrainError {
  flex-direction: row;
  flex: 1 1;
  width: 100%;
}

.TrainError .errorMessage {
  flex: 11;
  border: 0.2vw solid red; 
}

.TrainError .thrustStatus {
  flex: 1;
  border: 0.2vw solid grey;

}

.legendAxle {
  width: 28vw;
  height: 10vw;
  background: lightgray;
  border-radius: 1vw;
  flex-direction: column;
  margin-top: 5vw;
  align-self: flex-end;
  margin-right: 1vw;
  justify-content: space-evenly;
  color: white;
}

.legendAxle div {
  margin-left: 0.5vw;
}

.StateTrain {
  flex: 1;
}

.PanelBottomButtons {
  flex: 1;
}

.Button {
  flex: 1 1;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border: 0.2vw solid grey;
  border-left: none;
}

.Button:first-child{
  border-left:0.2vw solid grey;
}
.Button div {
  display: inline-flex;
  font-size: 0.75vw;
  color: lightseagreen;
}