.navPanel {
  background: lightgrey;
  width: 100%;
}

.navItem {
  flex-direction: column;
  flex: 1;
}

.navName {
  justify-content: center;
  border: black solid 1px;
  border-left: none;
  flex: 1;
}

.navButton {
  color: red;
  justify-content: center;
  border: black solid 1px;
  border-top: none;
  border-left: none;
  flex: 1;
}