.monitor {
  align-self: center;
  width: 60vw;
  height: 45vw;
  border-style: solid;
  border-width: 10px;
  border-color: #666a6b;
  margin: 5vh auto;
  justify-content: space-around;
  flex-direction: column;
  background-color: #373d3b;
}

.generalPanel {
    align-self: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.display {
  flex: 13;
  height: 88%;
  margin: 5% 0 0 0;
  align-self: center;
  background-color: gray;
    justify-content: center;
  align-items: center;
}

.recess {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #424848;
  border: 5px solid #616767;
}


.monitorButton {
  width: 2vw;
  height: 2vw;
  border: 1px solid white;
  border-radius: 20%;
  margin: 1vw 0;
  color: white;
  justify-content: center;
  align-items: center;
}

.panelSideButtons {
    flex: 1;
  height: 90%;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.panelBottomButtons {
  width: 80%;
  justify-content: space-around;
  align-self: center;
}

.monitorButton .href {
  text-decoration-line: none;
  color: white;
  nav-index: 0;
  -moz-user-focus: ignore;
}

.monitorButton .href:visited {
  color: white;
}

