.App {
  flex-direction: column;
}
.App header {
  height: 10vh;
  border-width: 5px;
  border-style: solid;
}

div {
  display: flex;
 
}

#root {
  flex-direction: column;
  user-select: none;
}


.MonitorScreenArticle {
  flex-direction: column;
  flex: 7 1;
  align-items: center;
}